:root {
    --kace-orange: hsl(21, 98%, 67%);
}
* {
    font-size: 12pt;
    color: #fff;
    margin: 0;
    padding: 0;
}
body{
    background-color: #121212;
    user-select: none;
}
#bodyWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
#formWrapper{
    background-color: #1e1e1f;
    border: #383838 1px solid;
    border-radius: 10px;
    padding: 1em;
    padding-bottom: 0;
    margin-top: 4em;
    box-shadow: 0 24px 80px hsla(0, 0%, 0%, 0.25);

}
li { list-style: none; }
img{
    height: 30px;
}
.navbar {
    position: absolute;
    bottom: auto;
    top: 4em;
    left: auto;
    right: auto;
    width: max-content;
    background: hsla(240, 1%, 17%, 0.75);
    backdrop-filter: blur(10px);
    border-radius: 0 10px;
    border: #383838 1px solid;
    padding: 10px 20px;
    margin-left: 13.7em;
    box-shadow: none;
    z-index: 5;
  }
  .navbar-list { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    gap: 20px; 
}

  .navbar-link {
    font-weight: var(--fw-500);
    padding: 20px 7px;
  }



#formTitle{
    padding: 0;
    padding-bottom: 1em;
}
h1{
    font-family: 'Poppins', sans-serif;
    position: relative;
    margin-bottom: 1em;
    padding:1em;
    
}
h1::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 3px;
    background:  #fd955b; /*var(--text-gradient-yellow)*/
    border-radius: 3px;
}
#link,
#linkTxt{
    font-family: 'Roboto Mono', monospace;
    --text-decoration: none;
    text-decoration: var(--text-decoration);
    padding: 1em;
}
form{
    padding: 0;
    margin: 0;
    gap: 0;
}
textarea, 
input {
    font-family: 'Roboto Mono', monospace;
    min-width: 15em; 
    max-width: 15em;
    background-color: #1e1e1f;
    color: #8d8d8d;
    border-radius: 10px;
    border: #383838 1px solid;
    padding: 1em;
}
textarea{
    min-height: 10em;
    max-height: 15em;
}
textarea:focus, 
input:focus{
    border-color: var(--kace-orange);
    outline: none;
}
#linkWrapper{
    text-align: justify;
    user-select: contain;
}
/*
#copy {
    margin: 2em 1em;
    padding: 0.5em;
    display: none;
    background-color: #1e1e1f;
    color: #8d8d8d;
    border-radius: 10px;
    border-color: var(--kace-orange);
    box-shadow: 0 24px 80px hsla(0, 0%, 0%, 0.25);
}
*/
footer{
    font-family: 'Roboto Mono', monospace;
    position: fixed;
    padding: 0.5em;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #292929;
    color: white;
    text-align: center;
}
#footer{
    text-decoration: none;
    margin: none;
    padding: none;
}


/* tooltip settings 👇 */

.copy {
    /* button */
    --button-bg: #1e1e1f;
    --button-hover-bg: #383838;
    --button-text-color: #CCCCCC;
    --button-hover-text-color: #8bb9fe;
    --button-border-radius: 10px;
    --button-diameter: 36px;
    --button-outline-width: 1px;
    /* tooltip */
    --tooltip-bg: #f4f3f3;
    --toolptip-border-radius: 4px;
    --tooltip-font-family: Menlo, Roboto Mono, monospace;

    --tooltip-font-size: 12px;

    --tootip-text-color: rgb(50, 50, 50);
    --tooltip-padding-x: 7px;
    --tooltip-padding-y: 7px;
    --tooltip-offset: 8px;
    --tooltip-transition-duration: 0.3s;

  }
  
  .copy {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: var(--button-diameter);
    height: var(--button-diameter);
    border-radius: var(--button-border-radius);
    background-color: var(--button-bg);
    color: var(--button-text-color);
    border: none;
    cursor: pointer;
    position: relative;
    outline: var(--button-hover-bg) 1px solid;
    display: none;
  }
  
  .tooltip {
    position: absolute;
    opacity: 0;
    visibility: 0;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    white-space: nowrap;
    font: var(--tooltip-font-size) var(--tooltip-font-family);
    color: var(--tootip-text-color);
    background: var(--tooltip-bg);
    padding: var(--tooltip-padding-y) var(--tooltip-padding-x);
    border-radius: var(--toolptip-border-radius);
    pointer-events: none;
    -webkit-transition: all var(--tooltip-transition-duration) cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all var(--tooltip-transition-duration) cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .tooltip::before {
    content: attr(data-text-initial);
  }
  
  .tooltip::after {
    content: "";
    position: absolute;
    bottom: calc(var(--tooltip-padding-y) / 2 * -1);
    width: var(--tooltip-padding-y);
    height: var(--tooltip-padding-y);
    background: inherit;
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(45deg);
        -ms-transform: translateX(-50%) rotate(45deg);
            transform: translateX(-50%) rotate(45deg);
    z-index: -999;
    pointer-events: none;
  }
  
  .copy svg {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .checkmark {
    display: none;
  }
  
  /* actions */
  
  .copy:hover .tooltip,
  .copy:focus:not(:focus-visible) .tooltip {
    opacity: 1;
    visibility: visible;
    top: calc((100% + var(--tooltip-offset)) * -1);
  }
  
  .copy:focus:not(:focus-visible) .tooltip::before {
    content: attr(data-text-end);
  }
  
  .copy:focus:not(:focus-visible) .clipboard {
    display: none;
  }
  
  .copy:focus:not(:focus-visible) .checkmark {
    display: block;
  }
  
  .copy:hover,
  .copy:focus {
    background-color: var(--button-hover-bg);
  }
  
  .copy:active {
    outline: var(--button-outline-width) solid var(--kace-orange);
  }
  
  .copy:hover svg {
    color: var(--button-hover-text-color);
  }